.contactPage {
    background-color: black;
}

.contactTitle {
    margin-left: 10px;
    font-size: 3rem;
    font-weight: 500;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;  
}

.subBtn {
    width: 125px;
    height: 65px;
    font-family:'Times New Roman', Times, serif;
    background-color: gray;
    color: aliceblue;
    border: 0px;
    font-size: 1.4rem;
}

.nameName {
    color: aliceblue;
    font-size: 1.6rem;
}

.ast {
    color:aliceblue;
    font-size: 1.1rem;
}

.input-field {
    height: 40px;
    font-size: 1.4rem;
    font-family:'Times New Roman', Times, serif;
}

.text-field {
    font-size: 1.4rem;
    font-family:'Times New Roman', Times, serif;
}
