.container {
    transition: 0s;
}

p {
    color:aliceblue;
    line-height: 0;
}

h1 {
    color:aliceblue;
}

a {
    color:aliceblue;
}

a:link {
    text-decoration: none;
    color: white
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.project {
    transition: .4s;
}

.project:hover {
    transform: scale(1.05);
}

.front-side {
    font-family:'Times New Roman', Times, serif;
    color: aliceblue;
    z-index: 1;
    transform: scale(0.9);
    opacity: 1;
    
    transition: .4s;
}

.frontText {
    color: aliceblue;
    font-size: 1.8rem;
    font-weight: 500;
}

.project:hover .front-side {
    opacity: 0;
}

.back-side {
    color:aliceblue;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
    transform: scale(0.9);
    opacity: 0;
    transition: .4s;
}

.project:hover .back-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
}

.project:hover .card-text{
    margin: 10px;
}

.card-text {
    margin: 10px;
    justify-content: center;
    text-align: center;
}

.tech-text {
    justify-content: center;
    text-align: center;
    color: aliceblue;
    font-size: 1.4rem;
    font-weight: 500;
}

.github {
    margin-right: 6px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2.6rem;
    font-weight: 500;
}


